.custom-gradient-bg {
  background: linear-gradient(to right, #87c24b, #61b95a);
}

.text-large {
  font-size: 20px;
}

.mt-80 {
  margin-top: 80px;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
}

.custon-padding-form-group {
  padding-top: 25px;
  padding-bottom: 25px;
}

.max-width-container {
  max-width: 400px;
}

.input-group .input-group-text .input-group-prepend i {
  font-size: 18px;
  border-right: none;
  background-color: transparent;
}

.separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.left-border,
.right-border {
  flex: 1;
  border-top: 1px solid black;
  height: 0;
  margin: 0 10px;
}