.custom-gradient-bg {
  background: linear-gradient(to right, #87c24b, #61b95a);
}

.bg-grey {
  background-color: rgb(245, 245, 245);
}

.text-large {
  font-size: 20px !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: blue !important;
}

.breadcrumb-item:first-child a {
  text-decoration: none;
}

.none-roundedBorderRight {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.custom-increaseButton {
  font-size: auto !important;
  background-color: white;
  border-color: rgb(108, 117, 125);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.custom-decreaseButton {
  transform: rotate(180deg);
  font-size: auto !important;
  background-color: white;
  border-color: rgb(108, 117, 125);
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.custom-unit {
  background-color: white;
  border-color: rgb(108, 117, 125);
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.custom-bg-green {
  background-color: rgb(92, 184, 92);
  border-color: rgb(92, 184, 92);
  color: white;
}

th {
  background-color: rgb(92, 184, 92);
  color: white;
}

.custom-table {
  text-align: center;
}

.custom-table th,
.custom-table td {
  padding: 2.5rem;
  vertical-align: middle;
  font-weight: normal;
}

.popupsContainer {
  background-color: black;
}


@media (min-width: 768px) {
  .btn-large {
    padding-left: 80px;
    padding-right: 80px;
  }

  .custom-nav-table a {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 20px;
  }
}