<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Pay My Buddy</title>
</head>

<body>
  <div class="container">
    <div class="centered">
      <button class="green-button">Pay my Buddy</button>
      <input type="text" class="input" placeholder="Email">
      <input type="password" class="input" placeholder="Password">
      <div class="remember-me">
        <input type="checkbox" id="remember" name="remember">
        <label for="remember">Remember me</label>
      </div>
      <button class="blue-button">Login</button>
    </div>
  </div>
</body>

</html>