<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pay My Buddy</title>
  <!-- METADA -->
  <meta charset="UTF-8">
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css" th:href="@{/css/login.css}" />
</head>

<body class="bg-light">
  <div class="container mt-80">
    <div class="row justify-content-center ">
      <div class="col-md-6  py-5 px-3 rounded border border-secondary max-width-container">
        <div class="mx-auto
        d-flex flex-column align-items-center ">
          <h5 class="text-white rounded custom-gradient-bg px-3 py-3 text-large justify-content-center">Pay My Buddy
          </h5>
        </div>
        <div>
          <form th:action="@{/login}" method="post">
            <!-- Username field -->
            <div class="form-group d-flex flex-column align-content-center flex-wrap">
              <div class="input-group">
                <div class="input-group-prepend mt-5">
                  <span class="input-group-text  bg-white border-right-0">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <input type="email" id="email" name="email"
                  class="form-control text-large mt-5 custon-padding-form-group border-left-0" placeholder="Email"
                  autofocus autocomplete="mail">
              </div>
            </div>
            <!-- Password field -->
            <div class="form-group  d-flex flex-column align-content-center flex-wrap">
              <div class="input-group">
                <div class="input-group-prepend mt-5 ">
                  <span class="input-group-text bg-white border-right-0">
                    <i class="fas fa-asterisk"></i>
                  </span>
                </div>
                <input type="password" id="password" name="password"
                  class="form-control text-large mt-5 custon-padding-form-group border-left-0" placeholder="Password"
                  autocomplete="current-password">
              </div>
            </div>
            <!-- Error management -->
            <div th:if="${param.error}" class="alert alert-error">
              <p class="px-auto text-large d-flex flex-column align-items-center text-danger">Wrong identifier pair</p>
            </div>
            <!-- “Remember Me” checkbox -->
            <div class="d-flex justify-content-center align-items-center">
              <div class="form-check form-control-lg mt-2">
                <input type="checkbox" class="form-check-input custom-checkbox" id="remember-me" name="remember-me">
                <label class="form-check-label text-large ml-1" for="remember-me">Remember me</label>
              </div>
            </div>
            <!-- Login button -->
            <div class="d-flex flex-column align-content-center flex-wrap my-4">
              <button type="submit" class="btn btn-primary text-large px-5">Login</button>
            </div>
            <!-- Or -->
            <div class="separator">
              <div class="left-border"></div>
              <p class="text-large"> or</p>
              <div class="right-border"></div>
            </div>
            <!-- Oauth2 Login Google-->
            <div class="d-flex flex-column align-content-center flex-wrap my-4">
              <a th:href="@{/oauth2/authorization/google}" class="btn btn-primary text-large px-5">Login with Google</a>
            </div>
            <!-- Oauth2 Login GitHub-->
            <div class="d-flex flex-column align-content-center flex-wrap my-4">
              <a th:href="@{/oauth2/authorization/github}" class="btn btn-primary text-large px-5">Login with GitHub</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>